---
- name: Validate settings
  assert:
    that: |
      (theo_agent_config_path == "/etc/theo-agent/config.yml" and sshd_current_version is version('6.4', '<')) or
      sshd_current_version is version('6.4', '>=')
    msg: With OpenSSH < 6.4 theo_agent_config_path must be /etc/theo-agent/config.yml

- name: Set AuthorizedKeysCommand config snippet 1
  set_fact:
    theo_agent_sshd_authorized_keys_command: "{{ theo_agent_sshd_authorized_keys_command }} -config-file {{ theo_agent_config_path }}"
  when: theo_agent_config_path != "/etc/theo-agent/config.yml" and sshd_current_version is version('6.4', '>')

- name: Set AuthorizedKeysCommand config snippet 2
  set_fact:
    theo_agent_sshd_authorized_keys_command: "{{ theo_agent_sshd_authorized_keys_command }} -fingerprint %f"
  when: sshd_current_version is version('6.9', '>=')

- name: Set AuthorizedKeysCommand config snippet 3
  set_fact:
    theo_agent_sshd_authorized_keys_command: "{{ theo_agent_sshd_authorized_keys_command }} %u"
  when: theo_agent_sshd_authorized_keys_command != theo_agent_path

- name: Set AuthorizedKeysCommandUser config snippet
  set_fact:
    sshd_authorized_keys_command_user_options:
      - regexp: "^AuthorizedKeysCommandUser"
        line: "AuthorizedKeysCommandUser {{ theo_agent_user }}"
  when: not ( ansible_os_family == "RedHat" and ansible_distribution_major_version|int == 6 )

- name: Set AuthorizedKeysCommandRunAs config snippet
  set_fact:
    sshd_authorized_keys_command_user_options:
      - regexp: "^AuthorizedKeysCommandRunAs"
        line: "AuthorizedKeysCommandRunAs {{ theo_agent_user }}"
  when: ( ansible_os_family == "RedHat" and ansible_distribution_major_version|int == 6 )

- name: Set PasswordAuthentication on config snippet
  set_fact:
    sshd_password_authentication_options:
      - regexp: "^PasswordAuthentication"
        line: "PasswordAuthentication yes"
  when: theo_agent_with_password_authentication|bool

- name: Set PasswordAuthentication off config snippet
  set_fact:
    sshd_password_authentication_options:
      - regexp: "^PasswordAuthentication"
        line: "PasswordAuthentication no"
  when: not theo_agent_with_password_authentication|bool

- name: Update sshd configuration options
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    state: present
    validate: "/usr/sbin/sshd -T -f %s"
  with_items:
    - "{{ sshd_password_authentication_options }}"
    - "{{ sshd_authorized_keys_command_user_options }}"
    - regexp: "^AuthorizedKeysCommand "
      line: "AuthorizedKeysCommand {{ theo_agent_sshd_authorized_keys_command }}"
    - regexp: "^AuthorizedKeysFile"
      line: "AuthorizedKeysFile {{ theo_agent_cache_dir }}/%u"
  notify: Restart sshd

- name: Add sshd to the list of permissive domain on selinux
  selinux_permissive:
    name: sshd_t
    permissive: true
  when: ansible_selinux is defined and ansible_selinux and ansible_selinux.status == 'enabled'
